body{
	padding: 1%;
	margin: 1%;

}
header{
	background: #85a5c7 url("../images/hq.gif") no-repeat;
	background-size: cover;
	opacity: 0.9;
	text-align: center;
	padding: 1%;

}
h1{
	text-align: center;
	color: #ffffff;

}


nav a{
	background: rgba(197, 180, 211, 0.6);
	text-decoration: none;
	color: #000000;
	display: inline-block;
	width: 15%;
	margin: 0% 2% 2% 2%;
	border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	-o-border-radius: 5px; 
	padding: 10px;
}
.active
 {
  background-color: #9b6ac4;
}

.right{
display: inline-block;
width: 80%;
height: 100vh;
background: #85a5c7 url("../images/LT.png") no-repeat;
}

.left img{
width: 50%;
border: 2px solid black;
margin-left: 20%;
margin-right: 20%;
margin-top: 15%;
}
.left{
	display: block;
	width: 20%;
	background:#e3c08a;
	height: 100vh;
    float: left;
}
